<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Quran.Elmallah.Islamic-Pillars.fetchPrayerTimes</string>
		<string>com.Quran.Elmallah.Islamic-Pillars.processingRefresh</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Needed to accurately determine prayer times based on where you are (your location stays on your device).</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Needed to accurately determine prayer times based on where you are (your location stays on your device).</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Needed to accurately determine prayer times based on where you are (your location stays on your device).</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to save wallpapers you choose to your Photo Library.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Uthmani.ttf</string>
		<string>Indopak.ttf</string>
		<string>QuranCommon.ttf</string>
		<string>Warsh.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
